<section class="about_us">
    <div class="container">
        <div class="wrapper">
            <div class="our_results">
                <h3 class="subtitle">Про нас в цифрах</h3>
                <img src="img/our_results-img.png" alt="" class="our_results__img">
                <div class="flex-box">
                    <div class="our_results-item">
                        <span>14+</span>
                        <p class="our_results-item_text one"><i>років сумарної експертизи</i> у розробці та впровадженні програмного забезпечення для автоматизації
                            роздрібної торгівлі, кафе та ресторанів</p>
                    </div>
                    <div class="our_results-item">
                        <span>6000+</span>
                        <p class="our_results-item_text two"><i>торгових точок</i> використовують програмне забезпечення Chameleon</p>
                    </div>
                    <div class="our_results-item">
                        <span>10+</span>
                        <p class="our_results-item_text three"><i>рішень</i> як для малого бізнесу, так і для великих мереж</p>
                    </div>
                    <div class="our_results-item">
                        <span>100+</span>
                        <p class="our_results-item_text four"><i>людей в штаті,</i> які брали участь у розробці</p>
                    </div>
                    <div class="our_results-item">
                        <span>70+</span>
                        <p class="our_results-item_text five"><i></i>співробітників станом на 2023 рік</p>
                    </div>
                </div>
            </div>
            <div class="stages_work">
                <h3 class="subtitle subtitle_grey_light">повний цикл розробки ПЗ та клієнтського сервісу</h3>
                <div class="stages_work-item">
                    <span>01</span>
                    <p><i>Власна команда розробників</i> (оперативні доробки програмного продукту)</p>
                </div>
                <div class="stages_work-item">
                    <span>02</span>
                    <p><i>Cервіс виїзду</i> (виїзд фахівців та усунення несправностей)</p>
                </div>
                <div class="stages_work-item">
                    <span>03</span>
                    <p><i>Сall-центр</i> (технічна підтримка клієнта 365 днівна рік)</p>
                </div>
                <div class="stages_work-item">
                    <span>04</span>
                    <p><i>Навчання та допомога персоналу</i> (навчаємо роботі в програмі)</p>
                </div>
            </div>
        </div>
    </div>
</section>

