<div class="advantages">
    <div class="container">
        <h2 class="title title_advantages">Переваги PayKit для власника або керуючого торговою точкою</h2>
        <div class="wrapper">
            <ul class="advantages_item">
                <li class="one-left"><i>Ефективне управління</i> обіговими коштами та залишками товарів <i>на всіх торгових точках</i> у режимі реального
                    часу</li>
                <li class="two-left"><i>Без витрат на адміністрування</i> та додатковий <i>IT персонал</i></li>
                <li class="three-left"><i>Зручна аналітика</i> та звіти в <i>online</i> режимі</li>
                <li class="four-left"><i>Внутрішній електронний документообіг,</i> що значно скорочує витрати - проведення інвентариза-цій без
                    зупинки торгового процесу</li>
                <li class="five-left"><i>Фіксування</i> (логування) <i>всіх дій</i> персоналу торгової точки
                    <p><i>Стабільна робота</i> торгової точки <i>без інтернету</i></p>
                </li>
            </ul>
            <div class="advantages_img">
                <img src="img/advantages-img.png" alt="">
            </div>
            <ul class="advantages_item">
                <li class="one-right"><i>Вивільнення часу</i> завдяки автоматизації контролю за торгівлею та роботою персоналу</li>
                <li class="two-right"><i>Зростання іміджу магазину</i> (мережі торгових точок) та лояльності покупців</li>
                <li class="three-right">Безкоштовні <i>ОС Linux</i> та <i>Android</i></li>
                <li class="four-right"><i>Якісне та швидке обслуговування</i> через видачу чеків покупцям, автоматичної роботи банківських терміналів,
                    різних варіантів прийому платежів</li>
                <li class="five-right"><i>Можливість додаткового заробітку</i> на прийомі платежів за мобільний зв'язок, інтернет, поповнення
                    банківських карток та оплату комунальних послуг</li>
            </ul>
        </div>
    </div>
</div>