<section class="main">
    <div class="container">
        <div class="wrapper">
            <h1 class="main_title">POS-система для автоматизації бізнесу</h1>
            <p class="main_text"><i>PayKit</i> – каса, облік, ПРРО <i>у POS–терміналі.</i> Це мобільне робоче місце
                касира на телефоні або планшеті, яке не прив'язане до стаціонарної точки.
                <i>Компактне та просте у використанні</i> поєднує в собі:
            </p>
            <ul class="main_list">
                <li>модуль лояльності</li>
                <li>фіскальний реєстратор (ПРРО)</li>
                <li>електронний документообіг</li>
                <li>касу</li>
                <li>товарний та складський облік</li>
                <li>еквайринг для безготівкових платежів</li>
            </ul>
            <div class="main_flex">
                <div class="main_actions">
                    <a href="javascript:void(0)" class="btn btn_main btn_popUp">Замовити демо</a>
                    <ul class="main_actions-social">
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/instagram.svg" alt="Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/facebook.svg" alt="Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/twitter.svg" alt="X">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/youtube.svg" alt="Youtube">
                            </a>
                        </li>
                        <p class="main_actions-social__text">Наші соцмережі</p>
                    </ul>
                </div>
                <div class="main_app">
                    <p class="main_app-text">Завантажуйте нашу аплікацію у</p>
                    <div class="main_app-wrapper">
                        <div>
                            <a href="javascript:void(0)" class="main_app__item" >
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Smart</span>
                                <div class="flex-box">
                                    <img src="img/smart.svg" alt="smartphone">
                                    <p>Для смартфонів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="main_app__item">
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Tab</span>
                                <div class="flex-box">
                                    <img src="img/tablet.svg" alt="tablet">
                                    <p>Для планшетів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="main_app__item">
                                <img src="img/App_store.svg" alt="Appstore" class="basic">
                                <span class="hover">в розробці</span>
                            </a>
                            <div class="box">
                                <span>В розробці</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_img">
        <img src="img/main_img.png" alt="App" class="img_one">
        <img src="img/tablet_main.png" alt="" class="img_two">
    </div>
</section>