<section class="offers">
    <div class="container">
        <div class="swiper slider_offers">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide_head">
                        <h4>Pro</h4>
                        <span>1400 грн/міс.</span>
                    </div>
                    <p class="swiper-slide_text">Дає можливість вести взаєморозрахунки з клієнтами та керувати акціями</p>
                    <div class="swiper-slide_flex">
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Управління та налаштування</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Товарний облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Внутрішній електронний документообіг з торговими точками</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Фінансовий облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Каса</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Торгове обладнання</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Маркетинг</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Персонал</p>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn_offers">Детальніше</a>
                    <div class="swiper-slide_img">
                        <img src="img/bird.svg" alt="PayKit">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_head">
                        <h4>Pro</h4>
                        <span>1400 грн/міс.</span>
                    </div>
                    <p class="swiper-slide_text">Дає можливість вести взаєморозрахунки з клієнтами та керувати акціями</p>
                    <div class="swiper-slide_flex">
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <p></p>
                            </ul>
                            <p>Управління та налаштування</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Товарний облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Внутрішній електронний документообіг з торговими точками</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Фінансовий облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Каса</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Торгове обладнання</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Маркетинг</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Персонал</p>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn_offers">Детальніше</a>
                    <div class="swiper-slide_img">
                        <img src="img/bird.svg" alt="PayKit">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_head">
                        <h4>Pro</h4>
                        <span>1400 грн/міс.</span>
                    </div>
                    <p class="swiper-slide_text">Дає можливість вести взаєморозрахунки з клієнтами та керувати акціями</p>
                    <div class="swiper-slide_flex">
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <p></p>
                            </ul>
                            <p>Управління та налаштування</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Товарний облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Внутрішній електронний документообіг з торговими точками</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Фінансовий облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Каса</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Торгове обладнання</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Маркетинг</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Персонал</p>
                        </div>
                    </div>
                    <a href="javascrip:void(0)" class="btn btn_offers">Детальніше</a>
                    <div class="swiper-slide_img">
                        <img src="img/bird.svg" alt="PayKit">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_head">
                        <h4>Pro</h4>
                        <span>1400 грн/міс.</span>
                    </div>
                    <p class="swiper-slide_text">Дає можливість вести взаєморозрахунки з клієнтами та керувати акціями</p>
                    <div class="swiper-slide_flex">
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <p></p>
                            </ul>
                            <p>Управління та налаштування</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Товарний облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Внутрішній електронний документообіг з торговими точками</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Фінансовий облік</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Каса</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Торгове обладнання</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Маркетинг</p>
                        </div>
                        <div class="swiper-slide_block">
                            <ul class="swiper-slide_block-item">
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                                <li class="rating rating_active"></li>
                            </ul>
                            <p>Персонал</p>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn_offers">Детальніше</a>
                    <div class="swiper-slide_img">
                        <img src="img/bird.svg" alt="PayKit">
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>