<section class="order_demo">
    <div class="container">
        <div class="wrapper">
            <h2 class="title title-order_demo"><i>4 місяці</i> користування PayKit POS <i>безкоштовно</i></h2>
            <p class="order_demo-text">при підключенні еквайрингу <i>від А-банку тариф банку</i> всього <i>1,2%</i></p>
            <ul class="order_demo-list">
                <li>складський облік</li>
                <li>ПРРО</li>
                <li>проведення інвентаризації</li>
                <li>сканер штрих-кодів</li>
            </ul>
            <div class="flex-wrapper">
                <a href="javascript:void(0)" class="btn btn-order_demo">Замовити демо</a>
                <div class="order_demo-app">
                    <p class="order_demo-app-text">Завантажуйте нашу аплікацію у</p>
                    <div class="order_demo-app-wrapper">
                        <div>
                            <a href="javascript:void(0)" class="order_demo__item">
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Smart</span>
                                <div class="flex-box">
                                    <img src="img/smart.svg" alt="smartphone">
                                    <p>Для смартфонів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="order_demo__item">
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Tab</span>
                                <div class="flex-box">
                                    <img src="img/tablet.svg" alt="tablet">
                                    <p>Для планшетів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="order_demo__item">
                                <img src="img/App_store.svg" alt="Appstore" class="basic">
                                <span class="hover">в розробці</span>
                            </a>
                            <div class="box">
                                <span>В розробці</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order_demo-img">
                <img src="img/tsd.png" alt="TSD" class="tsd">
                <img src="img/pc.png" alt="PC" class="pc">
            </div>
        </div>
    </div>
</section>