<section class="our_partners">
    <div class="wrapper">
        <h2 class="title title_our_partners">Наші партнери</h2>
        <div class="swiper slider-our_partners">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/bmc.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/agromol.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/zerno.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/smile_market.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/monobank.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/kulinichi.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/akcent.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/ck_market.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/bayadera.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/artwinery.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/monobank.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/kulinichi.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/akcent.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/ck_market.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/bayadera.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/artwinery.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/monobank.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/kulinichi.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/akcent.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/ck_market.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="img/bayadera.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/artwinery.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>