<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_head">
                <a href="javascript:void(0)" class="footer_logo">
                    <img src="img/footer_logo.svg" alt="PayKit">
                </a>
                <a href="javascript:void(0)" class="footer_questions">База знань</a>
            </div>
            <form action="" class="form">
                <h3 class="title title_footer">Завантажуйте зараз!</h3>
                <p><i>І отримуйте</i> тестовий період <i>14 днів</i> користування <i>безкоштовно!</i></p>
                <div class="form_flex">
                    <div>
                        <label for="name">Ваше Ім’я</label>
                        <input type="text" id="name" placeholder="Ім’я" class="input">
                    </div>
                    <div>
                        <label for="phone_number">Номер телефону</label>
                        <input type="text" id="phone_number" placeholder="+38 (___) __ __ ___" class="input">
                    </div>
                    <button class="btn btn_form">Надіслати заявку</button>
                    <div>
                        <input type="checkbox" class="custom-checkbox" id="checkbox" name="happy" value="yes">
                        <label class="checkbox_label" for="checkbox">Я погоджуюсь з умовами політики конфіденційності і
                            дозволяю обробляти мої персональні дані</label>
                    </div></div>
            </form>
            <div class="social_wrapper">
                <ul class="footer_actions-social">
                    <li>
                        <a href="javascript:void(0)">
                            <img src="img/instagram.svg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="img/facebook.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="img/twitter.svg" alt="X">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="img/youtube.svg" alt="Youtube">
                        </a>
                    </li>
                </ul>
                <h3 class="subtitle subtitle_footer">Наші контакти</h3>
            </div>
            <div class="footer_contacts">
                <a href="javascript:void(0)" class="footer_contacts-item">+38 (097) 339-54-45</a>
                <a href="javascript:void(0)" class="footer_contacts-item">+38 (097) 339-54-45</a>
                <a href="javascript:void(0)" class="footer_contacts-item">+38 (097) 339-54-45</a>
                <a href="javascript:void(0)" class="footer_contacts-item">info@paykitpos.com</a>
                <p class="footer_contacts-item">Плеханівська 92а, м. Харків</p>

            </div>
            <div class="footer_flex">
                <div class="footer_app">
                    <p class="footer_app-text">Завантажуйте нашу аплікацію у</p>
                    <div class="footer_app-wrapper">
                        <div>
                            <a href="javascript:void(0)" class="footer_app__item">
                                <img src="img/Google_play-white.svg" alt="Google play" class="basic">
                                <img src="img/Google_play.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Smart</span>
                                <div class="flex-box">
                                    <img src="img/smart-white.svg" alt="smartphone">
                                    <p>Для смартфонів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="footer_app__item">
                                <img src="img/Google_play.svg" alt="Google play"  class="hover">
                                <img src="img/Google_play-white.svg" alt="Google play" class="basic">
                            </a>
                            <div class="box">
                                <span>PayKit POS Tab</span>
                                <div class="flex-box">
                                    <img src="img/tablet-white.svg" alt="tablet">
                                    <p>Для планшетів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="footer_app__item">
                                <img src="img/App_store-white.svg" alt="Appstore" class="basic">
                                <span class="hover">в розробці</span>
                            </a>
                            <div class="box">
                                <span>В розробці</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer_navigation">
                    <li>
                        <a href="javasctipt:void(0)">Про продукт</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Обладнання</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Часті питання</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Тарифи</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Контакти</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Готові рішення</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Блог</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Договір оферти</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Політика конфіденційності</a>
                    </li>
                    <li>
                        <a href="javasctipt:void(0)">Публічна угода про оренду обладнання</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>