<header class="header">
    <div class="wrapper">
        <a href="javascript:void(0)" class="header_logo">
            <img src="img/header_logo.svg" alt="PayKit_logo">
        </a>
        <nav>
            <ul class="header_navigation">
                <li>
                    <a href="javascript:void(0)">Про продукт</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Готові рішення</a>
                    <div class="solutions">
                        <ul class="tabs">
                            <li>Рішення для Retail</li>
                            <li>Рішення для Horeka</li>
                            <li>Рішення для Service</li>
                        </ul>
                        <ul class="main_level">
                            <li>
                                <ul class="item_list">
                                    <li>
                                        <a href="javascript:void(0)">Невелика торгова точка</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Продуктові магазини</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Магазини одягу</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Квіткові магазини</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Ювелірні магазини</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Кондитерські</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Оптики</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Табачні кіоски</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Парфюмерні магазини</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Магазин товарів для дому</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Рабацькі магазини</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Овочі та фрукти (ваговий товар)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Магазини гаджетів та аксесуарів</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"></a>
                                    </li>
                                    <li>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="item_list">
                                    <li>
                                        <a href="javascript:void(0)">Фаст-фуд (фуд-трак)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Кафетерій</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Кав’ярня</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Об’єкти громадського харчування (без кухні)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Бар</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Пекарня</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Піцерія</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Кальяна</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="item_list">
                                    <li>
                                        <a href="javascript:void(0)">Перукарня</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Косметологічні кабінети</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Стоматологічні кабінети</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Продаж білетів (атракціони)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Побутові послуги (хімчистка, ремонт одягу, ремонт техніки)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Парковка</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Автомийка</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Доставка</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Професійні послуги</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)">Обладнання</a>
                </li>
                <li><a href="javascript:void(0)">Тарифи</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Контакти</a>
                </li>
            </ul>
        </nav>
        <a href="javascript:void(0)" class="header_questions">База знань</a>

        <button class="header_user-account">Особистий кабінет</button>
        <ul class="header_language">
            <li class="lang lang-active">
                <a href="javascript:void(0)">
                    <img src="img/ua.svg" alt="UA">
                    <span>UA</span>
                </a>
                
            </li>
            <li class="lang ">
                <a href="javascript:void(0)">
                    <img src="img/us.svg" alt="ENG">
                    <span>ENG</span>
                </a>
                
            </li>
        </ul>
        <span class="header_menu">
            <span></span>
        </span>
    </div>
</header>