<d class="modal_overlay">
    <div class="wrapper">
        <form action="" class="form form_modal">
            <span></span>
            <h3 class="title title_footer">Отримати демо продукту</h3>
            <p><i>Отримуйте</i> тестовий період 14 днів користування <i>безкоштовно!</i></p>
            <div class="form_flex">
                <div class="error">
                    <label for="name_modal">Ваше Ім’я</label>
                    <input type="text" id="name_modal" placeholder="Ім’я" class="input">
                    <span class="error_text">Текст ошибки писать здесь</span>
                </div>
                <div class="error">
                    <label for="phone_number_modal">Номер телефону</label>
                    <input type="text" id="phone_number_modal" placeholder="+38 (___) __ __ ___" class="input">
                    <span class="error_text">Текст ошибки писать здесь</span>
                </div>
                <button class="btn btn_form">Надіслати заявку</button>
                <div class="error">
                    <input type="checkbox" class="custom-checkbox" id="checkbox_modal" name="checkbox_modal" value="yes">
                    <label class="checkbox_label-modal" for="checkbox_modal">Я погоджуюсь з умовами політики конфіденційності і
                        дозволяю обробляти мої персональні дані</label>
                </div>
            </div>
        </form>
        <div class="modal_thanks">
            <h4>Дякуємо!</h4>
            <span>Наш менеджер зв’яжеться з Вами найближчим часом.</span>
            <a href="javascript:void(0)" class="btn btn_modal">закрити</a>
        </div>
    </div>
    
</d>


