<section class="news_slider">
    <div class="container">
        <h3>Вам буде цікаво</h3>
        <div class="swiper slider_news">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>