<section class="card_product-main">
    <div class="container">
        <a href="javascript:void(0)" class="card_product-back">Назад</a>
        <div class="wrapper">
            <div class="slider">
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/card_product.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_product-text">
                <div class="availability">
                    <img src="img/availability_yes.svg" alt="">
                    <p>В наявності</p>
                </div>
                <h1 class="title title-card_product">Планшет Samsung Galaxy Tab A9 8.7 LTE 4 64GB graphite</h1>
                <p>Згідно зі статистикою, компанії, які впровадили EDMS, знизили ризик відтоку клієнтів в 10 разів, а
                    перспективу втрати доходу – вдвічі. Щодо впливу систем на подальший розвиток організацій, то
                    очікується.</p>
                <ul class="card_product-items">
                    <li>
                        <span>Діагональ екрану: </span>
                        <p>10.5</p>
                    </li>
                    <li>
                        <span>Оперативна памʼять: </span>
                        <p>4 ГБ</p>
                    </li>
                    <li>
                        <span>Внутрішня памʼять: </span>
                        <p>64 ГБ</p>
                    </li>
                    <li>
                        <span>Інтерфейси: i</span>
                        <p>Bluetooth, Wi-F</p>
                    </li>
                    <li>
                        <span>Наявність SIM-карти: </span>
                        <p>Відсутня</p>
                    </li>
                    <li>
                        <span>Версія ОС Android: </span>
                        <p>Android 12</p>
                    </li>
                    <li>
                        <span>Разʼєми: </span>
                        <p>USB TYPE-C, Разʼєм 3.5 мм</p>
                    </li>
                    <li>
                        <span>Колір: </span>
                        <p>Сірий</p>
                    </li>

                </ul>
                <div class="card_product-model">
                    <a href="javascript:void(0)" class="model_item model_item-active">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                    <a href="javascript:void(0)" class="model_item">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                    <a href="javascript:void(0)" class="model_item">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                    <a href="javascript:void(0)" class="model_item">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                    <a href="javascript:void(0)" class="model_item">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                    <a href="javascript:void(0)" class="model_item">
                        <h5> Swan 1 Pro</h5>
                        <p>(2/64)</p>
                    </a>
                </div>
                <div class="card_product-actions">
                    <div class="card_product-counter">
                        <div class="counter">
                            <p>кількість</p>
                            <div class="counter_wrapper" data-counter>
                                <div class="counter_button counter_button-minus disabled">-</div>
                                <div class="counter_input"><input type="text" disabled value="1"></div>
                                <div class="counter_button counter_button-plus">+</div>
                            </div>
                        </div>
                        <div class="card_product-price">
                            <span>₴ 1 295</span>
                            <p>доступно по передзамовленню</p>
                        </div>

                    </div>

                </div>
                <div class="card_product-btns">
                    <a href="javascript:void(0)" class="btn btn-card_product modalEquipment">Купити</a>
                    <span></span>
                    <a href="javascript:void(0)" class="btn btn-card_product-opacity modalEquipment">Орендувати</a>
                </div>
                <div class="card_product-tabs swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide_active tabs_button" data-tab="tabs_1">
                            <h4>Опис</h4>
                        </div>
                        <div class="swiper-slide tabs_button" data-tab="tabs_2">
                            <h4>Доставка</h4>
                        </div>
                        <div class="swiper-slide tabs_button" data-tab="tabs_3">
                            <h4>Оплата</h4>
                        </div>
                        <div class="swiper-slide tabs_button" data-tab="tabs_4">
                            <h4>Гарантія</h4>
                        </div>
                        <div class="swiper-slide tabs_button" data-tab="tabs_5">
                            <h4>Консультація</h4>
                        </div>
                        <div class="swiper-slide" style="width: 60px;"></div>
                    </div>
                </div>
                <div class="card_product-info">
                    <div class="tabs_block tabs_block-active" id="tabs_1">
                        <p>Впровадження EDMS дозволило автоматизувати більшу частину рутинних процесів компаній та
                            збільшити
                            загальну продуктивність співробітників. До того ж міграція на хмарні технології покращила
                            доступність документації для всіх працівників та її захист від пошкодження, крадіжки чи
                            втрати.
                        </p>
                        <p>При цьому EDMS покращила велику кількість внутрішніх та зовнішніх показників, а саме:</p>
                        <ul>
                            <li>пришвидшила обробку документів (55 %);</li>
                            <li>покращила взаємодію між співробітниками (54 %);</li>
                            <li>збільшила задоволеність клієнтів (47 %);</li>
                            <li>покращила продуктивність роботи (45 %); </li>
                        </ul>
                    </div>
                    <div class="tabs_block" id="tabs_2">
                        <p>Впровадження EDMS дозволило автоматизувати більшу частину рутинних процесів компаній та
                            збільшити
                            загальну продуктивність співробітників. До того ж міграція на хмарні технології покращила
                            доступність документації для всіх працівників та її захист від пошкодження, крадіжки чи
                            втрати.
                        </p>
                        <p>При цьому EDMS покращила велику кількість внутрішніх та зовнішніх показників, а саме:</p>
                        <ul>
                            <li>пришвидшила обробку документів (55 %);</li>
                            <li>покращила взаємодію між співробітниками (54 %);</li>
                            <li>збільшила задоволеність клієнтів (47 %);</li>
                            <li>покращила продуктивність роботи (45 %); </li>
                        </ul>
                    </div>
                    <div class="tabs_block" id="tabs_3">
                        <p>Впровадження EDMS дозволило автоматизувати більшу частину рутинних процесів компаній та
                            збільшити
                            загальну продуктивність співробітників. До того ж міграція на хмарні технології покращила
                            доступність документації для всіх працівників та її захист від пошкодження, крадіжки чи
                            втрати.
                        </p>
                        <p>При цьому EDMS покращила велику кількість внутрішніх та зовнішніх показників, а саме:</p>
                        <ul>
                            <li>пришвидшила обробку документів (55 %);</li>
                            <li>покращила взаємодію між співробітниками (54 %);</li>
                            <li>збільшила задоволеність клієнтів (47 %);</li>
                            <li>покращила продуктивність роботи (45 %); </li>
                        </ul>
                    </div>
                    <div class="tabs_block " id="tabs_4">
                        <p>Впровадження EDMS дозволило автоматизувати більшу частину рутинних процесів компаній та
                            збільшити
                            загальну продуктивність співробітників. До того ж міграція на хмарні технології покращила
                            доступність документації для всіх працівників та її захист від пошкодження, крадіжки чи
                            втрати.
                        </p>
                        <p>При цьому EDMS покращила велику кількість внутрішніх та зовнішніх показників, а саме:</p>
                        <ul>
                            <li>пришвидшила обробку документів (55 %);</li>
                            <li>покращила взаємодію між співробітниками (54 %);</li>
                            <li>збільшила задоволеність клієнтів (47 %);</li>
                            <li>покращила продуктивність роботи (45 %); </li>
                        </ul>
                    </div>
                    <div class="tabs_block " id="tabs_5">
                        <p>Впровадження EDMS дозволило автоматизувати більшу частину рутинних процесів компаній та
                            збільшити
                            загальну продуктивність співробітників. До того ж міграція на хмарні технології покращила
                            доступність документації для всіх працівників та її захист від пошкодження, крадіжки чи
                            втрати.
                        </p>
                        <p>При цьому EDMS покращила велику кількість внутрішніх та зовнішніх показників, а саме:</p>
                        <ul>
                            <li>пришвидшила обробку документів (55 %);</li>
                            <li>покращила взаємодію між співробітниками (54 %);</li>
                            <li>збільшила задоволеність клієнтів (47 %);</li>
                            <li>покращила продуктивність роботи (45 %); </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>