<section class="card_product-banner">
    <div class="container">
        <div class="wrapper">
            <h2 class="title title title-card_product-banner"><i>Обладнання</i> для <i>автоматизації та обліку</i>
                вашого зоомагазину</h2>
            <p>Ви завжди можете <i>залишити заявку</i> та <i>наші фахівці допоможуть</i> підібрати обладнання для
                <i>Вашого
                    бізнесу.</i>
            </p>
            <a href="javascript:void(0)" class="btn btn-card_product-banner btn_popUp">залишити заявку</a>
            <img src="img/card_product-banner.png" alt="">
        </div>
    </div>
</section>