<section class="card_product-slider">
    <div class="container">
        <h2 class="title title-card_product-slider">Вам буде цікаво</h2>
    </div>
    <div class="swiper-slider product_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_img">
                    <img src="img/card_product-slider.png" alt="">
                    <div class="status">
                        <img src="img/promotion.svg" alt="">
                        <p>Акція</p>
                    </div>
                </div>
                <div class="block_text">
                    <div class="availability">
                        <img src="img/not_available.svg" alt="">
                        <p>Немає в наявності</p>
                    </div>
                    <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                    <div class="actions">
                        <span class="price">₴ 1 295</span>
                        <span class="divider"></span>
                        <a href="javascript:void(0)" class="btn btn-card_product-slider modalEquipment">Замовити</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>