<section class="equipment_main">
    <div class="container">
        <div class="equipment_main-head">
            <div class="head_title">
                <h1 class="title title-equipment">Обладнання</h1>
                <p><i>Обліку та фіскалізації</i> продажів, <i>оперативного контролю</i> невеликого <i>бізнесу, якому
                        потрібно</i> застосовувати <i>РРО.</i></p>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Пошук">
                    <button type="submit"></button>
                </form>
                <div class="pop-up_menu">
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                </div>
            </div>
        </div>
        <div class="equipment_main-bottom">
            <aside class="sidebar">
                <div class="block_main">
                    <a href="javascript:void(0)" class="btn btn_sidebar">Фільтри</a>
                    <button class="clear" >Очистити</м>
                </div>
                <div class="sidebar_items">
                    <ul class="wrapper">
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_1" type="checkbox">
                            <label for="input_1">Планшети Android</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_2" type="checkbox">
                            <label for="input_2">POS Android</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_3" type="checkbox">
                            <label for="input_3">Принтер чеків</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_4" type="checkbox">
                            <label for="input_4">Сканера</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_5" type="checkbox">
                            <label for="input_5">Фіскальний реєстратор</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_6" type="checkbox">
                            <label for="input_6">Грошові скриньки</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_7" type="checkbox">
                            <label for="input_7">Детектор валют</label>
                        </li>
                        <li class="sidebar_item">
                            <input class="checkbox" id="input_8" type="checkbox">
                            <label for="input_8">Підставки</label>
                        </li>
                    </ul>
                </div>
            </aside>
            <span class="border"></span>
            <div class="equipment_content">
                <div class="content_wrapper">
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="link"></a>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide equipment_item">
                        <div class="block_img">
                            <img src="img/card_product-slider.png" alt="">
                            <div class="status">
                                <img src="img/promotion.svg" alt="">
                                <p>Акція</p>
                            </div>
                        </div>
                        <div class="block_text">
                            <div class="availability">
                                <img src="img/not_available.svg" alt="">
                                <p>Немає в наявності</p>
                            </div>
                            <h4 class="name">Планшет Lenovo Tab M10 3rd Gen 464 LTE</h4>
                            <div class="actions">
                                <span class="price">₴ 1 295</span>
                                <span class="divider"></span>
                                <a href="javascript:void(0)" class="btn btn-card_equipment">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns-pages">
                    <button class="btn-left" type="submit"></button>

                    <div class="btn-items">
                        <a href="javascript:void(0)" class="num-page num-active">1</a>
                        <a href="javascript:void(0)" class="num-page">2</a>
                        <a href="javascript:void(0)" class="num-page">3</a>
                        <a href="javascript:void(0)" class="num-page">4</a>
                        <a href="javascript:void(0)" class="num-page">5</a>
                        <a href="javascript:void(0)" class="num-page">...</a>
                    </div>
                    <button class="btn-right" type="submit"></button>
                </div>
            </div>
        </div>
    </div>
</section>