<div class="equipment_modal">
    <div class="wrapper">
        <form action="" class="form form_equipment">
            <span></span>
            <h3 class="title title_equipment-modal">Оформити замолення</h3>
            <p><i>Залиште</i> свої дані для оформлення замовлення і <i>наш менеджер зв’яжеться з вами!</i></p>
            <div class="form_flex">
                <div>
                    <label for="name_modal-equipment">Ваше Ім’я</label>
                    <input type="text" id="name_modal-equipment" placeholder="Ім’я" class="input">
                    <span class="error_text">Текст ошибки писать здесь</span>
                </div>
                <div>
                    <label for="phone_number_modal-equipment">Номер телефону</label>
                    <input type="text" id="phone_number_modal-equipment" placeholder="+38 (___) __ __ ___"
                        class="input">
                    <span class="error_text">Текст ошибки писать здесь</span>
                </div>
                <div>
                    <label for="email_modal-equipment">Ваш емейл</label>
                    <input type="text" id="email_modal-equipment" placeholder="E-mail" class="input">
                    <span class="error_text">Текст ошибки писать здесь</span>
                </div>
                <div>
                    <label for="textarea">Коментар</label>
                    <textarea type="text" id="textarea" placeholder="Залиште коментар" class="textarea"></textarea>
                </div>
                <button class="btn btn_form">оформити замолення</button>
                <div>
                    <input type="checkbox" class="custom-checkbox" id="checkbox_equipment" name="checkbox_modal"
                        value="yes">
                    <label class="checkbox_label-modal" for="checkbox_equipment">Я погоджуюсь з умовами <a
                            href="javascript:void(0)">політики конфіденційності</a> і
                        дозволяю обробляти мої персональні дані</label>
                </div>

            </div>
        </form>
        <div class="modal_thanks">
            <h4>Дякуємо!</h4>
            <span>Наш менеджер зв’яжеться з Вами найближчим часом.</span>
            <a href="javascript:void(0)" class="btn btn_modal">закрити</a>
        </div>
    </div>

</div>