@import "libs/variables";
@import "libs/fonts";
@import 'libs/normalize';
@import 'libs/swiper';




@import 'libs/templates_elements/subtitle';
@import 'libs/templates_elements/title';
@import "libs/templates_elements/button";
@import "libs/templates_elements/forms";
@import "libs/templates_elements/menu_overlay";
@import "libs/templates_elements/header";
@import "libs/templates_elements/footer";
@import "libs/templates_elements/modal_overlay";
@import "libs/templates_elements/modal_more";






@import "libs/templates_pages/home/home";










body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: .2s all ease;
/*     border: 1px solid red; */
}

*:before,
*:after {
    box-sizing: inherit;
    transition: .2s all ease;
}

img {
    max-width: 100%;
    height: auto;
}

i{
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}


a {
    cursor: pointer;
    
}

.container {
    width: 100%;
    padding: 0 20px;
    position: relative;

}

@media (min-width: 648px) {

    .container {
        padding: 0 50px;
    }

}

@media (min-width: 1024px) {

    .container {

    }

}



@media (min-width: 1366px) {

    .container {
        padding: 0 100px;
    }

}


@media (min-width: 1880px) {

    

}