<div class="contacts_main">
    <div class="container">
        <div class="wrapper">
            <div class="contacts_main-head">
                <div class="contacts_main-head__title">
                    <h1 class="title title_contacts">Контакти</h1>
                    <ul class="contacts_main_actions">
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/instagram.svg" alt="Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/facebook.svg" alt="Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/twitter.svg" alt="X">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/youtube.svg" alt="Youtube">
                            </a>
                        </li>
                        <p class="contacts_main_actions__text">Наші соцмережі</p>
                    </ul>
                </div>
            </div>
            <div class="contacts_main-flex">
                <div class="contacts_main__links">
                    <div class="item_block ">
                        <span class="number">Наші Номери</span>
                        <a href="javascript:void(0)">+38 (066) 339-54-45</a>
                        <a href="javascript:void(0)">+38 (066) 339-54-45</a>
                        <a href="javascript:void(0)">+38 (066) 339-54-45</a>
                    </div>
                    <div class="item_block ">
                        <span class="email">Мейл</span>
                        <a href="javascript:void(0)">info@paykitpos.com</a>
                    </div>
                    <div class="item_block ">
                        <span class="address">Адреса</span>
                        <a href="javascript:void(0)">Плеханівська 92а, м. Харків</a>
                    </div>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.796422884006!2d36.263541202237676!3d49.977676225246064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a083c00ccfc9%3A0x3dc97454afe4b708!2z0YPQuy4g0J_Qu9C10YXQsNC90L7QstGB0LrQsNGPLCA5Mi3QsCwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCA2MTAwMA!5e0!3m2!1sru!2ses!4v1713563322834!5m2!1sru!2ses"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>