<section class="rates_main">
    <div class="container">
        <div class="rates_main-head">
            <div class="rates_main-title">
                <h1 class="title title-rates_main">Тарифи</h1>
                <p><i>PayKit</i> – каса, облік, ПРРО <i>у POS–терміналі.</i>  Це мобільне робоче місце касира на
                    телефоні.
                </p>
            </div>
            <ul class="rates_main-block">
                <li>
                    <h3 class="block-title">Прогресивний</h3>
                    <span class="block_price">1200 грн/міс.</span>
                    <p>Дає можливість вести взаємо-розрахунки з клієнтами</p>
                </li>
                <li>
                    <h3 class="block-title">Базовий</h3>
                    <span class="block_price">600 грн/міс.</span>
                    <p>Ведення складського обліку, управління дисконтними програмами</p>
                </li>
                <li>
                    <h3 class="block-title">Фіскал</h3>
                    <span class="block_price">300 грн/міс.</span>
                    <p>Вирішує питання фіксалізації, звітності з продажу</p>
                </li>
                <li>
                    <h3 class="block-title">Старт</h3>
                    <span class="block_price">1 грн/міс.</span>
                    <p>Ви можете надрукувати чек та отримати звіти з продажів</p>
                </li>
            </ul>
        </div>
        <div class="tablet-desktop">
            
            <div class="rates_main-bottom">
                <ul class="rates_main-block">
                    <li>
                        <h3 class="block-title">Прогресивний</h3>
                        <span class="block_price">1200 грн/міс.</span>
                        <p>Дає можливість вести взаємо-розрахунки з клієнтами</p>
                    </li>
                    <li>
                        <h3 class="block-title">Базовий</h3>
                        <span class="block_price">600 грн/міс.</span>
                        <p>Ведення складського обліку, управління дисконтними програмами</p>
                    </li>
                    <li>
                        <h3 class="block-title">Фіскал</h3>
                        <span class="block_price">300 грн/міс.</span>
                        <p>Вирішує питання фіксалізації, звітності з продажу</p>
                    </li>
                    <li>
                        <h3 class="block-title">Старт</h3>
                        <span class="block_price">1 грн/міс.</span>
                        <p>Ви можете надрукувати чек та отримати звіти з продажів</p>
                    </li>
                </ul>
                <div class="bottom_elements">
                    <span class="elements_title">Управління та налаштування</span>
                    <div class="bottom_block">
                        <p>Товарообіг на місяць</p>
                        <ul class="items">
                            <li class="item">без обмежень</li>
                            <li class="item">без обмежень</li>
                            <li class="item">без обмежень</li>
                            <li class="item">5000 грн/міс</li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Кількість товарів та послуг</p>
                        <ul class="items">
                            <li class="item">без обмежень</li>
                            <li class="item">без обмежень</li>
                            <li class="item">без обмежень</li>
                            <li class="item">200 грн/міс</li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Підтримка</p>
                        <ul class="items">
                            <li class="item">меседжер, телефон</li>
                            <li class="item">меседжер, телефон</li>
                            <li class="item">меседжер</li>
                            <li class="item">меседжер</li>
                        </ul>
                    </div>
                </div>
                <div class="bottom_elements">
                    <span class="elements_title">товарний облік</span>
                    <div class="bottom_block">
                        <p>Друк фіскальних чи товарних чеків</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Підключення еквайрінгу</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Звіти по продажах та чеках</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Прості знижки, бонуси</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Інвентаризація</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Робота з залишками</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Модуль звітів в хмарі</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Констурктор акцій та лояльності</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_block">
                        <p>Інтернет замовлення</p>
                        <ul class="bottom_items">
                            <li class="item item_active">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                            <li class="item">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>