<section class="ready_solutions-automation">
    <div class="container">
        <h2 class="title title-automation">PayKit автоматизує <i>ваші зоомагазини </i></h2>
        <ul class="ready_solutions-items">
            <li class="item">
                <div class="img">
                    <img src="img/ready_solutions-item1.png" alt="">
                </div>
                <h4>Якісно та швидко обслуговуйте покупців</h4>
                <p>Ваш касир (продавець, бариста, спеціаліст) швидко підбере товар за назвою, картинкою чи кодом</p>
            </li>
            <li class="item">
                <div class="img">
                    <img src="img/ready_solutions-item2.png" alt="">
                </div>
                <h4>Якісно та швидко обслуговуйте покупців</h4>
                <p>Ваш касир (продавець, бариста, спеціаліст) швидко підбере товар за назвою, картинкою чи кодом</p>
            </li>
            <li class="item">
                <div class="img">
                    <img src="img/ready_solutions-item3.png" alt="">
                </div>
                <h4>Якісно та швидко обслуговуйте покупців</h4>
                <p>Ваш касир (продавець, бариста, спеціаліст) швидко підбере товар за назвою, картинкою чи кодом</p>
            </li>
            <li class="item">
                <div class="img">
                    <img src="img/ready_solutions-item4.png" alt="">
                </div>
                <h4>Якісно та швидко обслуговуйте покупців</h4>
                <p>Ваш касир (продавець, бариста, спеціаліст) швидко підбере товар за назвою, картинкою чи кодом</p>
            </li>
        </ul>
    </div>
</section>