<section class="ready_solutions-control">
    <div class="container">
        <div class="img">
            <img src="img/ready_solutions-control.png" alt="">
        </div>
        <div class="control_block">
            <h2 class="title title-ready_solutions-control">Ваші <i>фінанси</i> завжди на <i>контролі</i></h2>
            <p>Система дозволяє проводити інвентаризації без зупинки торгівлі, автоматично аналізує критичні залишки,
                здійснює автозамовлення постачальнику. </p>
            <ul class="control_items">
                <li class="item">Ви можете вести облік продажів у розрізі кожної торгової точки, робочого місця, групи
                    товарів, постачальників за будь-який період.</li>
                <li class="item">Здійснювати контроль товарних залишків та коштів у режимі реального часу.</li>
                <li class="item">Аналізувати витрати в online режимі.</li>
            </ul>
        </div>
    </div>
</section>