<section class="ready_solutions-banner">
    <div class="container">
        <div class="wrapper">
            <h2 class="title title-ready_solutions-banner"><i>Обладнання</i> для <i>автоматизації</i> та <i>обліку</i> вашого зоомагазину
            </h2>
            <p class="ready_solutions-banner-text"><i>Робоче місце</i> касира (...) може бути встановлене або <i>на терміналі 5 в
                1,</i> або на <i>планшеті</i> або <i>смартфоні з ОС Android.</i> Працювати ж з хмарною системою можна на ноутбуці чи
                стаціонарному комп'ютері.</p>
            <div class="flex-wrapper">
                <a href="javascript:void(0)" class="btn btn-ready_solutions-banner btn_popUp">Замовити демо</a>
                <span class="border"></span>
                <div class="ready_solutions-banner-app">
                    <p class="ready_solutions-banner-app-text">Завантажуйте нашу аплікацію у</p>
                    <div class="ready_solutions-banner-app-wrapper">
                        <div>
                            <a href="javascript:void(0)" class="ready_solutions-banner__item">
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Smart</span>
                                <div class="flex-box">
                                    <img src="img/smart.svg" alt="smartphone">
                                    <p>Для смартфонів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="ready_solutions-banner__item">
                                <img src="img/Google_play.svg" alt="Google play" class="basic">
                                <img src="img/Google_play-white.svg" alt="Google play" class="hover">
                            </a>
                            <div class="box">
                                <span>PayKit POS Tab</span>
                                <div class="flex-box">
                                    <img src="img/tablet.svg" alt="tablet">
                                    <p>Для планшетів</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="ready_solutions-banner__item">
                                <img src="img/App_store.svg" alt="Appstore" class="basic">
                                <span class="hover">в розробці</span>
                            </a>
                            <div class="box">
                                <span>В розробці</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ready_solutions-banner-img">
                <img src="img/ready_solutions-banner.png" alt="">
            </div>
        </div>
    </div>
</section>