<section class="ready_solutions-marketing">
    <div class="container">
        <div class="img">
            <img src="img/ready_solutions-marketing.png" alt="">
        </div>
        <div class="marketing_block">
            <h2 class="title title-ready_solutions-panel">Маркетинг та персонал</h2>
            <p>Забезпечуйте ефективний контроль і керівництво персоналом, встановлюючи різні рівні доступу та ведучи
                запис усіх їхніх дій. Для поліпшення комунікації між офісом і торговими точками використовуйте
                внутрішній чат.</p>
            <p>Ваші маркетологи зможуть ефективного управляти лояльністю клієнтів та залучати нових завдяки широкому
                функціоналу створення акцій, управляти базою постіних клієнтів: дисконтні картки, сертифікати,
                нарахування балів та бонусів.</p>
            <a href="javascript:void(0)" class="btn btn_popUp btn_marketing">Замовити презентацію</a>
        </div>
    </div>
</section>