<section class="ready_solutions-panel">
    <div class="container">
        <div class="img">
            <img src="img/ready_solutions-panel.png" alt="">
        </div>
        <div class="panel_block">
            <h2 class="title title-ready_solutions-panel"><i>Аналітична</i> панель</h2>
            <p>Налаштуйте під себе інструмент для візуализації та анализу інформації про бізнес-процесси та їх еффективність.</p>
            <span>Ви будете мати гнучкий конструктор звітів із збереженням шаблонів:</span>
            <ul class="panel_items">
                <li class="item">середній чек</li>
                <li class="item">продажі за типами оплат, принтерами, касиром, картам</li>
                <li class="item">динаміка кількості чеків та продажів</li>
            </ul>
            <p>Отримання звітів з можливсітю відкриття в них пов’язаних подій, операцій та документів дасть можливість
                вибудувати ретроспективу дій.</p>
        </div>
    </div>
</section>