<section class="ready_solutions-time">
    <div class="container">
        <div class="img">
            <img src="img/ready_solutions-time.png" alt="">
        </div>
            <h2 class="title title-ready_solutions-time"><i>Звільніть час</i> ваших <i>співробітників для якісного обслуговування</i> клієнтів</h2>
            <p>Система дозволяє проводити інвентаризації без зупинки торгівлі, автоматично аналізує критичні залишки, здійснює автозамовлення постачальнику. </p>
            <p>Завдяки контролю залишків за складами, місцями зберігання грошей, торговими точками ви більш ефективно управляєте закупівлями та логістикою.</p>
    </div>
</section>