<div class="blog_main">
    <div class="container">
        <div class="wrapper">
            <div class="blog_main-head">
                <div class="blog_main-head__title">
                    <h1 class="title title_blog">Блог</h1>
                    <ul class="blog_main_actions">
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/instagram.svg" alt="Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/facebook.svg" alt="Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/twitter.svg" alt="X">
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0)">
                                <img src="img/youtube.svg" alt="Youtube">
                            </a>
                        </li>
                        <p class="blog_main_actions__text">Наші соцмережі</p>
                    </ul>
                </div>
                <div class="blog_main-head__descr">
                    <p>
                        <i>Обліку та фіскалізації</i> продажів, <i>оперативного контролю</i> невеликого <i>бізнесу,
                            якому потрібно</i> застосовувати <i>РРО.</i>
                    </p>
                </div>
            </div>
            <div class="blog_main-items">
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
                <div class="blog_main-items__item">
                    <div class="item_img">
                        <img src="img/blog_img.png" alt="blog-news">
                        <div class="item_img-author">
                            <img src="img/author.png" alt="author">
                            <span>Олександр Дідух</span>
                        </div>
                    </div>
                    <h3 class="item_title">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку — вдвоє</h3>
                    <p class="item_subtitle">Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку
                        EDMS стабільно збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <div class="item_footer">
                        <a href="javascript:void(0)" class="item_footer-date">20.03.2024</a>
                        <a href="javascript:void(0)" class="item_footer-link">Поділитись</a>
                        <button class="item_footer-btn">Читати</button>
                    </div>
                </div>
            </div>
            <div class="btns-pages">
                <button  class="btn-left" type="submit"></button>
                
                <div class="btn-items">
                    <div class="num-page num-active">1</div>
                    <div class="num-page">2</div>
                    <div class="num-page">3</div>
                    <div class="num-page">4</div>
                    <div class="num-page">5</div>
                    <div class="num-page">...</div>
                </div>
                <button  class="btn-right" type="submit"></button>
            </div>
        </div>
    </div>
</div>