<div class="knowledge_base-main">
    <div class="container">
        <div class="knowledge_base-head">
            <div class="head_title">
                <h1 class="title title-knowledge_base">База знань</h1>
                <p><i>Обліку та фіскалізації</i> продажів, <i>оперативного контролю</i> невеликого <i>бізнесу.</i></p>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Пошук">
                    <button type="submit"></button>
                </form>
                <div class="pop-up_menu">
                    <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                        перспективу втрати прибутку</a>
                        <a href="javasctipt:void(0)">Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а
                            перспективу втрати прибутку</a>
                </div>
            </div>
        </div>
        <div class="knowledge_base-bottom">
            <ul class="knowledge_base-navigation">
                <li>
                    <a href="javascript:void(0)">Загальні відомості</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Основні функції</a>
                </li>
                <li class="item-active">
                    <span>Здійснення та реєстрація продажів</span>
                    <ul>
                        <li>
                            <a class="link-active" href="javascript:void(0)">Створення необмеженої кількості робочих
                                місць
                                адміністраторів та касирів</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Призначення товарів до конкретної торгової точки</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Імпорт та експорт товарів в документ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Гнучке налаштування ролей та доступів + співробітників у фронті
                                і у беку</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Швидка реєстрація нових робочих точок</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">API для інтеграціі з іншими системами обліку, лояльності</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Створення будь-якої кількості рівнів цін</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Здійснення та реєстрація продажів</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Створення необмеженої кількості робочих місць адміністраторів
                                та касирів</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Призначення товарів до конкретної торгової точки</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Імпорт та експорт товарів в документ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Гнучке налаштування ролей та доступів + співробітників у фронті
                                і у беку</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Швидка реєстрація нових робочих точок</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">API для інтеграціі з іншими системами обліку, лояльності</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Створення будь-якої кількості рівнів цін</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Здійснення та реєстрація продажів</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Створення необмеженої кількості робочих місць адміністраторів
                                та касирів</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Призначення товарів до конкретної торгової точки</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Імпорт та експорт товарів в документ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Гнучке налаштування ролей та доступів + співробітників у фронті
                                і у беку</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Швидка реєстрація нових робочих точок</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">API для інтеграціі з іншими системами обліку, лояльності</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Створення будь-якої кількості рівнів цін</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Здійснення та реєстрація продажів</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Створення необмеженої кількості робочих місць адміністраторів
                                та касирів</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Призначення товарів до конкретної торгової точки</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Імпорт та експорт товарів в документ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Гнучке налаштування ролей та доступів + співробітників у фронті
                                і у беку</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Швидка реєстрація нових робочих точок</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">API для інтеграціі з іншими системами обліку, лояльності</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Створення будь-якої кількості рівнів цін</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Здійснення та реєстрація продажів</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Створення необмеженої кількості робочих місць адміністраторів
                                та касирів</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Призначення товарів до конкретної торгової точки</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Імпорт та експорт товарів в документ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Гнучке налаштування ролей та доступів + співробітників у фронті
                                і у беку</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Швидка реєстрація нових робочих точок</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">API для інтеграціі з іншими системами обліку, лояльності</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Створення будь-якої кількості рівнів цін</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="border"></span>
            <div class="knowledge_base-articles">
                <a class="item">
                    <h3>Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а перспективу втрати
                        прибутку — вдвоє</h3>
                    <p>Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку EDMS стабільно
                        збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <span>20.03.2024</span>
                </a>
                <a class="item">
                    <h3>Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а перспективу втрати
                        прибутку — вдвоє</h3>
                    <p>Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку EDMS стабільно
                        збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <span>20.03.2024</span>
                </a>
                <a class="item">
                    <h3>Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а перспективу втрати
                        прибутку — вдвоє</h3>
                    <p>Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку EDMS стабільно
                        збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <span>20.03.2024</span>
                </a>
                <a class="item">
                    <h3>Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а перспективу втрати
                        прибутку — вдвоє</h3>
                    <p>Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку EDMS стабільно
                        збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <span>20.03.2024</span>
                </a>
                <a class="item">
                    <h3>Цифровізація документообігу знижує ризик відтоку клієнтів в 10 разів, а перспективу втрати
                        прибутку — вдвоє</h3>
                    <p>Згідно з інформацією аналітиків Fortune Business Insights, вартість ринку EDMS стабільно
                        збільшується зі значенням CAGR 16.8 %. За їхніми прогнозами ...</p>
                    <span>20.03.2024</span>
                </a>
                <div class="btns-pages">
                    <button class="btn-left" type="submit"></button>

                    <div class="btn-items">
                        <a href="javascript:void(0)" class="num-page num-active">1</a>
                        <a href="javascript:void(0)" class="num-page">2</a>
                        <a href="javascript:void(0)" class="num-page">3</a>
                        <a href="javascript:void(0)" class="num-page">4</a>
                        <a href="javascript:void(0)" class="num-page">5</a>
                        <a href="javascript:void(0)" class="num-page">...</a>
                    </div>
                    <button class="btn-right" type="submit"></button>
                </div>
            </div>

        </div>
    </div>
</div>