<section class="product_capabilities">
    <div class="container">
        <div class="wrapper">
            <div class="product_capabilities-text">
                <h2 class="title title-product_capabilities">Можливості продукту</h2>
                <p>PayKit – програмний РРО для всіх, хто продає товари чи надає послуги:</p>
                <ul class="product_capabilities-tabs">
                    <li class="tabs_item tabs_item-active">
                        <span>Управління та налаштування</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    <li class="tabs_item">
                        <span>Товарний облік</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    <li class="tabs_item">
                        <span>Товарний облік</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    <li class="tabs_item">
                        <span>Товарний облік</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    <li class="tabs_item">
                        <span>Товарний облік</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    <li class="tabs_item">
                        <span>Товарний облік</span>
                        <ul class="tabs_subitem">
                            <li>Створення необмеженої кількості робочих місць адміністраторів та касирів</li>
                            <li>Призначення товарів до конкретної торгової точки</li>
                            <li>Гнучке налаштування ролей та доступів + співробітників у фронті і у беку</li>
                            <li>Швидка реєстрація нових робочих точок</li>
                            <li>Імпорт та експорт товарів в документ</li>
                            <li>API для інтеграціі з іншими системами обліку, лояльності</li>
                            <li>Створення будь-якої кількості рівнів цін</li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <div class="product_capabilities-img">
                <img src="img/product_capabilities.jpeg" alt="">
            </div>
        </div>
    </div>
</section>