<section class="product_banner">
    <div class="container">
        <div class="wrapper">
            <h2 class="title title-product_banner">Замовте <i>безкоштовну</i> презентацію продукту</h2>
            <p>PayKit – каса, облік, ПРРО у POS–терміналі. Це мобільне робоче місце касира на телефоні або планшеті, яке
                не
                прив'язане до стаціонарної точки.</p>
            <a href="javascript:void(0)" class="btn btn-product_banner btn_popUp">Замовити презентацію</a>
            <img src="img/order_banner-pc.png" alt="Order">
        </div>
    </div>
</section>