<section class="product_services">
    <div class="container">
        <div class="wrapper">
            <div class="product_services-img">
                <img src="img/product_services.png" alt="">
            </div>
            <div class="product_services-blocks">
                <p>PayKit – програмний РРО для всіх, хто продає товари чи надає послуги:</p>
                <div class="blocks_item item_1">
                    <span>Retail</span>
                    <p>невеличка <i>торгова точка</i> (торговий острівець, кіоск, <i>павільйон</i> чи <i>магазин</i>
                        food та nonfood):</p>
                    <ul>
                        <li>одяг</li>
                        <li>товари для дому</li>
                        <li>квіткові магазини</li>
                        <li>зоомагазини та ветаптеки</li>
                        <li>оптики</li>
                        <li>біжутерія, парфуми</li>
                        <li>товари для рибалок</li>
                        <li>аксесуари для мобільних телефонів</li>
                        <li>штучні запаковані продукти (алкоголь)</li>
                        <li>овочі та фрукти  (ваговий товар)</li>
                        <li>кондитерські вироби</li>
                    </ul>
                </div>
                <div class="blocks_item item_2">
                    <span>HoReKa</span>
                    <p>об’єкти <i>громадського харчування</i> без кухні (виробництва):</p>
                    <ul>
                        <li>фаст-фуд (фуд-трак)</li>
                        <li>кав’ярня, кафетерій</li>
                        <li>бар</li>
                        <li>кава-точка </li>
                        <li>кондитерська</li>
                        <li>булочна</li>
                    </ul>
                </div>
                <div class="blocks_item item_3">
                    <span>Service</span>
                    <p><i>підприємці,</i> що надають послуги</p>
                    <ul>
                        <li>доставка</li>
                        <li>косметологічні кабінети</li>
                        <li>стоматологічні кабінети</li>
                        <li>продаж білетів (атракціони)</li>
                        <li>парковка</li>
                        <li>автомийка</li>
                        <li>професійні послуги </li>
                        <li>побутові послуги </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>