<section class="product_main">
    <div class="container">
        <div class="wrapper">
            <h1 class="title title_product">Наш продукт - це все, що потрібно для:</h1>
            <div class="product_main-text">
                <p><i>Обліку та фіскалізації</i> продажів,<i>оперативного контролю</i> невеликого <i>бізнесу, якому
                        потрібно</i> застосовувати <i>РРО.</i></p>
                <a href="javascript:void(0)" class="btn btn_product btn_popUp">Замовити демо</a>
            </div>
            <div class="product_main-flex">
                <p>Він складається з:</p>
                <div class="product_main-flex__item">
                    <span>Робочого місця касира</span>
                    <p>Мобільний додаток для реєстрації, обліку та фіскалізації продажів (за допомогою ПРРО), встановлюється
                        на телефон, планшет, термінал, або інший пристрій з операційною системою Android. </p>
                </div>
                <div class="product_main-flex__item">
                    <span>Кабінету управління облікової системи</span>
                    <p>Це web-додаток, працює через браузер і забезпечує ведення товарного, складського, фінансового обліку,
                        запуску дисконтних програм. Керувати можна будь-де, отримуючи свіжі дані онлайн.</p>
                </div>
            </div>
        </div>
        <div class="product_main-img">
            <img src="img/product_main-bg.png" alt="">
        </div>
    </div>
</section>