<section class="product_advantages">
    <div class="container">
        <h2 class="title title_product">Ще більше переваг з <i>Paykit</i></h2>
        <ul class="product_advantages-items">
            <li>
                <span>01</span>
                <p>Стабільний сервіс 365 днів на рік</p>
            </li>
            <li>
                <span>02</span>
                <p>Легкий перехід з фіксального на нефіксальний режим</p>
            </li>
            <li>
                <span>03</span>
                <p>Безкоштовні автоматичні оновлення</p>
            </li>
            <li>
                <span>04</span>
                <p>Заміна платних ОС на Linux використання мобільних рішень під керуванням Android та iOS</p>
            </li>
        </ul>
    </div>
</section>